body{
    margin: 0px;
    padding: 0px;
    font-family:"Segoe UI", "Noto Sans", "Ubuntu",  "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";   
}

.navigation-container{
    display: flex;
    background-color:black;
    width: 100%;
    position: fixed;
    max-height: 40px;
    z-index: 800;
}

.brand{
    order: 1;
}

.app-image {
    width: 200px;
    margin-top: 6px;
    border-right: 1px solid #a7b9bc;
}

.navbar-subnav{
    order: 2;
    flex: 1;
}

.nav-menu-items{
    display: flex;
    list-style-type: none;
    padding-left: 2px;
    margin-top: 8px;
}

.nav-menu-links{ 
   text-decoration: none;
   color: white;
   margin: 4px 2px;
   padding: 6px 8px;
   font-size: 12px;
   border-radius: 4px;
   font-weight: 600;
}

.nav-menu-links:hover{
    background-color: #111; 
}

.navigation-search-bar{
    order: 3;
    position: relative;
    padding-right: 10px;
}

.search-box{
    height: 25px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    width: 100%; 
    font-size: 15px;
    font-family: inherit;
    outline: 0;  
}

.search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px 2px;
    background-color: white;
    border: none;
    height: 27px;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
}

.navigation-icons {
    order: 4;
    padding-right: 5px;
    padding-left: 4px;
}

.list-dropdwn-icons{
    display: flex;
    list-style-type: none;
    margin: 0px 8px;
    padding-left: 2px;    
}

.btn-icons{
    background-color: black;
    border: 0px;
    cursor: pointer;
    outline: none;
    font-family: inherit;
    margin-top: 6px;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-left: 3px;
    border-top: 4px solid white;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.user-avatar{
    color: white;
    font-size: 14px;
}

.user-name {
    vertical-align: middle;
}

.badge{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding-right: 4px;
    border-radius: 50%
}

.user-notification{
    font-size: 20px;
    margin-left: 4px;
}

@media screen and (max-width: 990px){
    .navigation-search-bar{
     display: none;
    }
}

@media screen and (max-width: 750px){
    .navigation-icons{
     display: none;
    }
}
